<body class= "about">
    <h1 class = "title4">About me</h1>
    <p class="paragraph"> Hi, there, I'm Daniel! A 23yo web dev student from Barcelona. This is an exercise meant to help me understand the basics of Express.js</p>
</body>