<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billie Eilish's fan page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav class="nav-bar">
        <ul class="nav-bar-ul">
          <li class="nav"> <a class="nav-bar-item" href="/works"> Works </a> </li>
          <li class="nav"> <a class="nav-bar-item" href="/about"> About </a> </li>
          <li class="nav"> <a class="nav-bar-item" href="/gallery"> Gallery </a> </li>
        </ul>
      </nav>

    <header class="header">
        <h1 class = "title">Welcome to Billie Eilish's fan page!</h1>
    </header>   

    <!-- Section -->
    <section class="section-one">
        <article class="container">
          <h2 class="title2"> Where am I? </h2>
          <p class="text"> This is a fan page to tribute Billie Eilish, the talented artist from LA. </p>
          <a class="link-btn" href="/works"> Works </a>
        </article>
  
        <article class="container">
          <h2 class="title2"> About me </h2>
          <p class="text"> I love Billie, and as a Web Dev student, I practice with this webpage. </p>
          <a class="link-btn" href="/about"> About me </a>
        </article>
  
        <article class="container">
          <h2 class="title2"> Wanna see more? </h2>
          <p class="text"> Check out some of the most iconic moments of Billie's performances. </p>
          <a class="link-btn" href="/gallery"> Gallery </a>
        </article>
    </section>
    <!-- End of Section -->


</body>
</html>