    <body class="works">
        <section>
            <h1 class= "title3">Works</h1>
            <ul class="albums">
                <li class="album"> When We All Fall Asleep, Where Do We Go? </li>
                <li class="album"> Happier Than Ever </li>
        </ul>
    </section>
    </body>